// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.items li {
  list-style: round;
}
tr.exp_item th { border: none; font-size: smaller; }
tr.exp_item input[type="text"] { width: 99%; }
/* table.exp td:nth-child(2) { background:#ff0000; } */

